@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}


ul li a {
    font-family: 'Muli';
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    margin-left: 30px;
}

ul li a:hover {
    color: rgb(255, 126, 126);
    font-size: 1.65rem;
}

#Home h1 {
    color: white;
    font-size: 7rem;
}

#Home p {
    color: white;
}


